@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Usine Creator</h1>
    <p class="lead">est une application en ligne qui permet l'encodage des Usines et bien encore plus.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1. Inscription</h2>
        <p>
            Creer un compte gratuit a partir du bouton "S'inscrire" en haut a droite.
        </p>
    </div>
    <div class="col-md-4">
        <h2>2. Authentification</h2>
        <p>Une fois le compte cree, taper les infos de connexion a partir du bouton "Se connecter".</p>
    </div>
    <div class="col-md-4">
        <h2>3. Encodage</h2>
        <p>Commencer l'encodage !</p>
    </div>
</div>